*{
	margin: 0px;
}


.boxe{
	border:1px solid #999;
	height: 50px;
	width: auto;
	margin:10px;
	box-sizing:border-box;
	background-color: #eee;
	
}
.box{
	float: left;
}
.box1,.box2,.box3{
	width: 33.3333%;
	
}
.box4,.box6{
	width: 25%;
}
.box5{
	width: 50%;
}
.box7,.box8{
	width: 8.33333%;
}
.box9,.box10{
	width: 16.66666%;
}
.box11{
	width: 50%;
}
@media screen and (max-width: 768px){
.box1,.box2,.box5{
	width: 50%;
}
.box3{
	width: 100%;
}
.box4,.box6,.box10,.box11{
	width: 25%;
}
.box7,.box8{
	width: 16.66666%;
}
.box9{
	width: 66.6666666%;
}
}